.main {
  padding: 1em 0;
  .list_wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1em;

    .btn_wrap {
      display: flex;
      justify-content: end;
      a {
        padding: 0.5em 1em;
        border: 1px solid #e4e4e4;
        border-radius: 10px;
        &:hover {
          background-color: #e4e4e4;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        padding: 1em;
        border: 1px solid #cccccc;
        border-radius: 10px;
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
