$button-background-color: #fff;
@mixin button-hover-style {
  background-color: $button-background-color;
  color: #000;
  border: 1px solid #e4e4e4;
}

.main {
  padding: 1em 0;

  .form_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title_input {
      display: flex;
      justify-content: center;
      input {
        width: 90%;
        height: 50px;
        padding: 0 1em;
        font-size: 18px;
      }
    }

    .content_input {
      display: flex;
      justify-content: center;
      textarea {
        width: 90%;
        height: 400px;
        padding: 1em;
        font-size: 18px;
      }
    }

    .btn_wrap {
      display: flex;
      justify-content: center;
      gap: 15px;

      button {
        padding: 0.5em 1em;
        border: 1px solid #e4e4e4;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          @include button-hover-style;
        }
      }
      button:first-child {
        background-color: rgb(255, 134, 90);
        color: #fff;
        &:hover {
          @include button-hover-style;
        }
      }
    }
  }
}
